{{ define "header" }}
    {{ partial "header" . }}
{{ end }}

{{ define "main" }}

<section id="home">
  <h1 class="title">Posts</h1>
  <ul class="posts">
    {{ range $index, $page := where .Site.RegularPages "Type" "blog" }}
    <li {{if eq $index 0}}class="first" {{end}}>
      <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .PublishDate.Format "2006-01-02" }} {{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</section>

{{ end }}


{{ define "footer" }}
    {{ partial "footer" . }}
{{ end }}
