<!doctype html>

<html lang="en">

<head>
    <title>dyong1</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="dyong1's homepage" />
    <meta name="author" content="dyong1" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

{{ block "header" . }}{{ end }}
{{ block "main" . }}{{ end }}
{{ block "footer" . }}{{ end }}
